[heater_fan hotend_fan]
pin: can0:E_FAN
max_power: 1.0
kick_start_time: 0.5 #0.100
heater: extruder
heater_temp: 50.0

[fan]
pin: can0:PART_FAN
kick_start_time: 0.5 #0.100
cycle_time: 0.010
off_below: 0.10

#nevermore
[fan_generic filter]
pin: FILTER_FAN
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 0.5 #0.250
off_below: 0.1 # 0.30
# hardware_pwm: True
# cycle_time: 0.001

# electronics fan
[heater_fan controller_fan]
pin: ELECTRONICS_FAN
heater: extruder #heater_bed
heater_temp: 45.0
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0
heater: heater_bed
#fan_speed: 0.9
#idle_speed: 0.25


########## Bed Fans #########
#[fan_generic BedFans]
#pin: BED_FAN
#cycle_time: 0.05
#kick_start_time: 0.5

## Exhaust
#[temperature_fan Chamber]
#pin: EXHAUST_FAN
#max_power: 1.0
#shutdown_speed: 0.0
#kick_start_time: 5.0
#cycle_time:0.01
#off_below:0.1
#sensor_type: ATC Semitec 104NT-4-R025H42G
#sensor_pin: CHAMBER_TEMPERATURE
#min_temp: 0
#max_temp: 70
#target_temp: 50.0
#control: watermark
#gcode_id: C
