############################################# \
######## USER CONFIG OVERRIDES FILE #########  + --> This will help you personalize my config to your printer :)
############################################# /

# This file is yours! Feel free to edit it in order to include all the needed
# things to adapt my generic config to your machine. This file will not be erased
# when updating the config using moonraker and it will be kept as you've set it.
# You can change every section of the config. You can also add some new custom macros, etc...
# The corresponding documentation can be found in: docs > overrides.md

### Also, keep in mind: if you use a multi-MCU config such as the old school double SKRs or a CANbus toolhead
### board, you will need to specify which components are connected to which board in your own mcu.cfg file!
### Example: if something is connected to the toolhead MCU, you should use "config_pin: toolhead:PIN_NAME".

#> Main control MCUs are called "mcu" (and "secondary" when using a double MCU configuration)
#> Toolhead CANboard MCUs are called "toolhead"
#> ERCF MCUs are called "ercf" 

# ------------------------------------------------------------------------------------------


#-------------------------#
#   START_PRINT SEQUENCE  #
#-------------------------#

## The START_PRINT sequence is modular and fully customizable. A default START_PRINT sequence is auto-populated based on
## your probe choice (TAP, Dockable, Inductive), but if for some reasons you still want to modify it, please uncomment the
## following `variable_startprint_actions` definition. You can use any number of action or even duplicate some actions if needed.
## Available actions: "bed_soak", "chamber_soak", "extruder_heating", "tilt_calib", "z_offset", "bedmesh", "purge", "clean", "primeline"
##
# variable_startprint_actions: "action1", "action2", ...


#-------------------------#
#   EXTRUDER/BED PIDs     #
#-------------------------#

[extruder]
control: pid
pid_kp: 31.071
pid_ki: 2.354
pid_kd: 102.536

[heater_bed]
control: pid
pid_kp: 55.144
pid_ki: 2.387
pid_kd: 318.456

#-------------------------#
#   TOOLHEAD MCU board    #
#-------------------------#

# Those overrides are automatically added when you select a CANbus
# toolhead MCU during the installation process. They should provide a
# good base to work with. Feel free to adapt to your board if needed!

[extruder]
step_pin: toolhead:E_STEP
dir_pin: toolhead:E_DIR
enable_pin: !toolhead:E_ENABLE

# New Config Value = Old Config Value * (Actual Extruded Amount/Target Extruded Amount)
rotation_distance: 22.62688148
gear_ratio: 50:10 #50:17               #BMG Gear Ratio
microsteps: 32
full_steps_per_rotation: 200

nozzle_diameter: 0.400
filament_diameter: 1.75
max_extrude_only_distance: 110
heater_pin: toolhead:E_HEATER
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: toolhead:E_TEMPERATURE
min_temp: 0
max_temp: 290
max_power: 1.0
min_extrude_temp: 172

max_extrude_only_distance: 1400.0
max_extrude_only_velocity: 75.0
max_extrude_only_accel: 1500
pwm_cycle_time: 0.01612


#DO NOT CHANGE THIS HERE! CHANGE IT IN PRINT_START
pressure_advance: 0.0
pressure_advance_smooth_time: 0.04 #0.040

[tmc2240 extruder]
cs_pin: toolhead:E_CS
spi_speed: 500000
spi_software_sclk_pin: toolhead:SPI2_SCLK
spi_software_mosi_pin: toolhead:SPI2_MOSI
spi_software_miso_pin: toolhead:SPI2_MISO
driver_TPFD: 0
diag0_pin: toolhead:E_DIAG
interpolate: False
run_current: 0.6
rref: 12000
stealthchop_threshold: 999999
driver_IHOLDDELAY: 8
driver_IRUNDELAY: 2
#driver_TPOWERDOWN: 10
driver_TBL: 3
driver_TOFF: 4
driver_HEND: 3
driver_HSTRT: 4
#driver_FD3: 0
driver_TPFD: 0
##driver_CHM: 0
##driver_VHIGHFS: 0
##driver_VHIGHCHM: 0
##driver_DISS2G: 0
##driver_DISS2VS: 1
driver_PWM_AUTOSCALE: True
driver_PWM_AUTOGRAD: True
#driver_PWM_FREQ: 2
##driver_FREEWHEEL: 0
driver_PWM_GRAD: 12
driver_PWM_OFS: 40
driver_PWM_REG: 15
driver_PWM_LIM: 12
driver_SGT: 30
driver_SEMIN: 2
#driver_SEUP: 3
driver_SEMAX: 8
#driver_SEDN: 2
#driver_SEIMIN: 0
#driver_SFILT: 1
#driver_SG4_ANGLE_OFFSET: 1

[gcode_macro configure_extruder]
gcode:
  SET_TMC_FIELD STEPPER=extruder FIELD=pwm_meas_sd_enable VALUE=1
  SET_TMC_FIELD STEPPER=extruder FIELD=sg4_filt_en VALUE=1
  SET_TMC_FIELD STEPPER=extruder FIELD=freewheel VALUE=1
  SET_TMC_FIELD STEPPER=extruder FIELD=SG4_THRS VALUE=10
  SET_TMC_FIELD STEPPER=extruder FIELD=IHOLD VALUE=0
  SET_TMC_FIELD STEPPER=extruder FIELD=THIGH VELOCITY=50
  SET_TMC_FIELD STEPPER=extruder FIELD=TCOOLTHRS VALUE=4000
  SET_TMC_FIELD STEPPER=extruder FIELD=TPWMTHRS VELOCITY=1
  SET_TMC_FIELD STEPPER=extruder FIELD=OVERTEMPPREWARNING_VTH VALUE=2885 # 7.7 * 100 C + 2038
  {% set v = (24.7/0.009732)|int %}
  SET_TMC_FIELD STEPPER=extruder FIELD=OVERVOLTAGE_VTH VALUE={ v }


[probe]
pin: toolhead:Y_STOP
z_offset: -1.220
speed: 3
lift_speed: 10
samples: 3
samples_result: median
sample_retract_dist: 2

[fan]
pin: toolhead:PART_FAN

[heater_fan hotend_fan]
pin: toolhead:E_FAN

#[stepper_x]
#endstop_pin: ^toolhead:X_STOP

[neopixel status_leds]
pin: toolhead:STATUS_NEOPIXEL

[adxl345]
spi_software_sclk_pin: toolhead:SPI2_SCLK
spi_software_mosi_pin: toolhead:SPI2_MOSI
spi_software_miso_pin: toolhead:SPI2_MISO

##########
# Axis Z #
##########
[stepper_z]
dir_pin: !Z_DIR

[stepper_z1]
dir_pin: !Z1_DIR

[stepper_z2]
dir_pin: !Z2_DIR

#############
# Axis XY   #
#############

[tmc2209 stepper_x]
driver_SGTHRS: 140

[tmc2209 stepper_y]
driver_SGTHRS: 140

############
## Z-tilt ##
############

[z_tilt]
points:
   10, 10
   150, 290
   290, 10
retries: 10

########################
## printer parameters ##
########################

[printer]
max_velocity: 300
max_accel: 4000
max_z_velocity: 15
max_z_accel: 350

[gcode_macro _TIP_SHAPING]
description: Filament tip shaping sequence
gcode:
