#####################################################################
#   Fan Control
#####################################################################


## HOT END FAN
[heater_fan hotend_fan]
pin: ToolHead: PA0
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0

## PART COOLING FAN
[fan]
pin: ToolHead: PA1
kick_start_time: 0.5
off_below: 0.10

## CONTROLLER FAN
[heater_fan electronics_fan]
pin: PD12
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0
heater: heater_bed
heater_temp: 60
#fan_speed: 0.9
#idle_speed: 0.25

## NEVERMORE
[heater_fan nevermore]
pin: PD13
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0
heater: heater_bed
heater_temp: 60
fan_speed: 1.0

## Exhaust
[temperature_fan chamber]
pin: PD14
#max_power: 1.0
#shutdown_speed: 0.0
#kick_start_time: 5.0
#heater: extruder
#heater_temp: 100
#fan_speed: 1.0
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0
cycle_time:0.01
off_below:0.1
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PF5
min_temp: 0
max_temp: 70
target_temp: 50.0
control: watermark
gcode_id: C