#######################
#### E_STEPPER.CFG ####
#######################

## EXTRUDER
[extruder]
step_pin: ToolHead: PD0
dir_pin: ToolHead: PD1
enable_pin: !ToolHead: PD2
rotation_distance: 22.62688148  #Bondtech 5mm Drive Gears
gear_ratio: 50:10               #BMG Gear Ratio
microsteps: 32
full_steps_per_rotation: 200
max_extrude_only_distance: 101
instantaneous_corner_velocity: 1.5
max_extrude_cross_section: 0.8

##  E0 on MOTOR6
##  Make sure to update below for your relevant driver (2208 or 2209)
#[tmc2209 extruder]
#uart_pin: PE1
#interpolate: false
#run_current: 0.5
#sense_resistor: 0.110
#stealthchop_threshold: 0
[tmc2240 extruder]
cs_pin: ToolHead: PA15
spi_speed: 500000
spi_software_sclk_pin: ToolHead: PB10
spi_software_mosi_pin: ToolHead: PB11
spi_software_miso_pin: ToolHead: PB2
driver_TPFD: 0
diag0_pin:ToolHead:PB3
interpolate: False
run_current: 0.6
rref: 12000
stealthchop_threshold: 999999
driver_IHOLDDELAY: 8
driver_IRUNDELAY: 2
#driver_TPOWERDOWN: 10
driver_TBL: 3
driver_TOFF: 4
driver_HEND: 3
driver_HSTRT: 4
#driver_FD3: 0
driver_TPFD: 0
##driver_CHM: 0
##driver_VHIGHFS: 0
##driver_VHIGHCHM: 0
##driver_DISS2G: 0
##driver_DISS2VS: 1
driver_PWM_AUTOSCALE: True
driver_PWM_AUTOGRAD: True
#driver_PWM_FREQ: 2
##driver_FREEWHEEL: 0
driver_PWM_GRAD: 12
driver_PWM_OFS: 40
driver_PWM_REG: 15
driver_PWM_LIM: 12
driver_SGT: 30
driver_SEMIN: 2
#driver_SEUP: 3
driver_SEMAX: 8
#driver_SEDN: 2
#driver_SEIMIN: 0
#driver_SFILT: 1
#driver_SG4_ANGLE_OFFSET: 1

[gcode_macro configure_extruder]
gcode:
  SET_TMC_FIELD STEPPER=extruder FIELD=pwm_meas_sd_enable VALUE=1
  SET_TMC_FIELD STEPPER=extruder FIELD=sg4_filt_en VALUE=1
  SET_TMC_FIELD STEPPER=extruder FIELD=freewheel VALUE=1
  SET_TMC_FIELD STEPPER=extruder FIELD=SG4_THRS VALUE=10
  SET_TMC_FIELD STEPPER=extruder FIELD=IHOLD VALUE=0
  SET_TMC_FIELD STEPPER=extruder FIELD=THIGH VELOCITY=50
  SET_TMC_FIELD STEPPER=extruder FIELD=TCOOLTHRS VALUE=4000
  SET_TMC_FIELD STEPPER=extruder FIELD=TPWMTHRS VELOCITY=1
  SET_TMC_FIELD STEPPER=extruder FIELD=OVERTEMPPREWARNING_VTH VALUE=2885 # 7.7 * 100 C + 2038
  {% set v = (24.7/0.009732)|int %}
  SET_TMC_FIELD STEPPER=extruder FIELD=OVERVOLTAGE_VTH VALUE={ v }