#######################
#### E_STEPPER.CFG ####
#######################

## EXTRUDER
[extruder]
step_pin: ToolHead: PD0
dir_pin: ToolHead: PD1
enable_pin: !ToolHead: PD2
rotation_distance: 22.62688148  #Bondtech 5mm Drive Gears
gear_ratio: 50:10               #BMG Gear Ratio
microsteps: 32
full_steps_per_rotation: 200
max_extrude_only_distance: 101

##  E0 on MOTOR6
##  Make sure to update below for your relevant driver (2208 or 2209)
#[tmc2209 extruder]
#uart_pin: PE1
#interpolate: false
#run_current: 0.5
#sense_resistor: 0.110
#stealthchop_threshold: 0
[tmc2240 extruder]
cs_pin: ToolHead: PA15
spi_software_sclk_pin: ToolHead: PB10
spi_software_mosi_pin: ToolHead: PB11
spi_software_miso_pin: ToolHead: PB2
driver_TPFD: 0
run_current: 0.50
stealthchop_threshold: 999999