[mcu]
canbus_uuid: de6599069f13

[mcu can0]
canbus_uuid: 5f80237f85ce

# [mcu rpi]
# serial: /tmp/klipper_host_mcu

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 4000  #10000
max_accel_to_decel: 4000
#max_accel_to_decel: 10000 #comment out
max_z_velocity: 15
max_z_accel: 350
square_corner_velocity: 5.0
#square_corner_velocity: 8

[virtual_sdcard]
#path: ~/gcode_files
path: ~/printer_data/gcodes
#[resonance_holder]

[save_variables]
filename: ~/printer_data/config/saved_variables.cfg

[exclude_object]

[firmware_retraction]

[idle_timeout]
timeout: 7200
gcode:
    RESPOND MSG="Idle timeout reached"
    {% if "z" in printer.toolhead.homed_axes %}
      G90
      #example to move the head somewhere
      G1 X150 Y150 Z50 F9000

      PARK
      _TIP_SHAPING
      G1 E-10 F2100  
    {% endif %}

    TURN_OFF_HEATERS
    M107
    M400
    BED_MESH_CLEAR
    {% if disable_motors_in_end_print %}
        M84
    {% endif %}	
    LIGHT_ON S={light_intensity_end_print}
  #  STATUS_OFF

[pause_resume]

[display_status]

[respond]

[force_move]
enable_force_move: True

[gcode_arcs]
resolution: 0.1
